<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h2>Data Mahasiswa</h2>

    <h4>Nama: M Irfan Fauzi | NIM: 20230140136</h4>

    <a href="/form">+ Tambah Data</a>

    <table>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Jenis Kelamin</th>
        </tr>

        <tr th:each="d, stat : ${data}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${d.nama}"></td>
            <td th:text="${d.nim}"></td>
            <td th:text="${d.jenisKelamin}"></td>
        </tr>
    </table>
</div>

</body>
</html>